body{
    background-color: #EEEEEE;
}

.framea {
    position: absolute;
    height: 90vh;
    /* equals max image height */
    width: 100%;
    /* border: 1px solid red; */
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
}

.frame {
    display: inline-block;
    vertical-align: middle;
    height: 90%;
    /* equals max image height */
    width: 40vw;
    /* border: 1px solid red; */
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    /* position: absolute; */
    vertical-align: middle;
    max-height: 40vw;
    max-width: 40vw;
}

#batik{
    margin-top: -1vw;
    margin-left: -0.2vw;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}

#biru{
    margin-top: 1vw;
    margin-left: 2vw;
    max-height: 15vw;
    max-width: 15vw;
    -webkit-animation: reverse-loader 1.5s linear infinite;
    animation: reverse-loader 1.5s linear infinite;
    -moz-animation: reverse-loader 2s linear infinite;
    -o-animation: reverse-loader 2s linear infinite;
}

#hmm {
    margin-top: 2vw;
    margin-left: 2vw;
    max-height: 31vw;
    max-width: 31vw;
    -webkit-animation: reverse-loader 3s linear infinite;
    -moz-animation: reverse-loader 2s linear infinite;
    -o-animation: reverse-loader 2s linear infinite;
    animation: reverse-loader 3s linear infinite;
}

#ring {
    margin-top: 1.4vw;
    margin-left: 2vw;
    max-height: 23.5vw;
    max-width: 23.5vw;
    -webkit-animation: loader 1.8s linear infinite;
    -moz-animation: loader 1.8s linear infinite;
    -o-animation: loader 1.8s linear infinite;
    animation: loader 1.8s linear infinite;
}

@-webkit-keyframes loaders {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes reverse-loaders {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes reverse-loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}